<div class="h-space" *ngIf="quiz; else notFound">
  <h1>{{ quiz.title }}</h1>
  <!-- <p>{{ quiz.description }}</p> -->

  <!-- Таймер -->
  <div
    class="radial-progress text-primary"
    [style.--value]="progress"
    role="progressbar"
  >
    <span class="countdown font-mono text-3xl">
      <span>{{ currentTime }}</span>
    </span>
  </div>

  <!-- Отображаем текущий вопрос -->
  <div *ngIf="currentQuestionIndex < questions.length; else finished">
    <h3>{{ questions[currentQuestionIndex].questionText }}</h3>
    <div *ngIf="questions[currentQuestionIndex]?.img">
      <img [src]="questions[currentQuestionIndex].img" alt="Question Image" />
    </div>
    <ul>
      <li
        *ngFor="let answer of questions[currentQuestionIndex]?.answers"
        (click)="onAnswerSelect(answer.isCorrect)"
      >
        {{ answer.text }}
      </li>
    </ul>
  </div>
</div>

<!-- Финальный экран -->
<ng-template #finished>
  <h2>Викторина завершена!</h2>
  <p>Правильных ответов: {{ correctAnswersCount }} из {{ questions.length }}</p>
  <button (click)="resetProgress()">Начать заново</button>
</ng-template>

<ng-template #notFound>
  <p>Викторина не найдена!</p>
</ng-template>
