.quiz-result {
  border-radius: 20px;
  form {
    background: #282a36;
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px;
  }
  small {
    position: absolute;
    top: -22.5px;
  }
  .btn {
    width: 100%;
    boreder-radius: 0 !important;
  }
  .btn:active {
    transform: scale(1);
  }
}
.quiz-result.h-space {
  padding: 100px 0;
  margin-top: 150px;
}
